@{
    ViewBag.Title = "Sobre";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <p>
        Na Ferrous Entertainment, você encontra filmes incríveis. Todos para o seu melhor divertimento.
    </p>
</article>
