@{
    ViewBag.Title = "Home";
}
<div class="jumbotron">
    <div class="container text-left">
        <h1>Ferrous Entertainment</h1>
        <p> Na Ferrous Entertainment, você encontra filmes incríveis. Todos para o seu melhor divertimento. </p>
    </div>
</div>
